<configuration>
  <connectionStrings>
    <add name="PriceCompEngineEntities" connectionString="metadata=&quot;res://*/Application database.csdl|res://*/Application database.ssdl|res://*/Application database.msl&quot;;provider=System.Data.SqlClient;provider connection string=&quot;data source=pricecompengn.database.windows.net;initial catalog=PriceCompEngine;persist security info=True;user id=adminlogin33;password=Adminpassword33;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
</configuration>