<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <connectionStrings>
    <add name="PriceCompEngineEntities" connectionString="metadata=&quot;res://*/Application database.csdl|res://*/Application database.ssdl|res://*/Application database.msl&quot;;provider=System.Data.SqlClient;provider connection string=&quot;data source=pricecompengn.database.windows.net;initial catalog=PriceCompEngine;persist security info=True;user id=adminlogin33;password=Adminpassword33;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <appSettings>
    <add key ="ServiceBaseUrl" value="http://pricecompengineapi.azurewebsites.net"/>
    <add key ="TextManagerUrl" value="/api/TextManager"/>
    <add key ="TopItemsUrl" value ="/api/TopItems?"/>
    <add key ="CheapestItemsUrl" value ="/api/CheapestItems?"/>
    <add key ="ShoppingCartUrl" value ="/api/ShoppingCart?"/>
  </appSettings>
</configuration>
