<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings"
                  type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >

      <section name="PriceCompEngn.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               requirePermission="false" />

    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="ServiceBaseUrl" value="http://pricecompengineapi.azurewebsites.net"/>
    <add key="TextManagerUrl" value="/api/TextManager"/>
    <add key="TopItemsUrl" value="/api/TopItems?"/>
    <add key="CheapestItemsUrl" value="/api/CheapestItems?"/>
    <add key="ShoppingCartUrl" value="/api/ShoppingCart?"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>